body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Updated background color */
}

.container {
    padding: 20px;
    position: relative;
}

h1 {
    margin: 0;
    padding: 0;
}

/* Hamburger menu styles */
.menu-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 20px; /* Adjusted to left */
    z-index: 2;
}

.menu-icon div {
    width: 30px;
    height: 3px;
    background-color: #fff; /* Updated color */
    margin: 6px 0;
    transition: 0.4s;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center;
    background-color: #555; /* Updated background color */
    padding: 10px;
    border-radius: 8px; /* Added border-radius */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px; /* Adjusted to left */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px; /* Decreased font size */
    padding: 8px; /* Decreased padding */
    border-radius: 4px; /* Added border-radius for button style */
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #ff4500;
    color: #fff;
}

/* Increase spacing for wide screens */
@media screen and (min-width: 1200px) {
    nav ul {
        justify-content: center; /* Center items horizontally */
    }

    nav ul li {
        margin-left: 20px; /* Adjusted to left */
    }
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: grey; /* Updated background color */
        border-radius: 0; /* Remove border-radius for full width */
    }

    nav.show {
        display: flex;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
        margin-left: 0; /* Adjusted to left */
    }

    .menu-icon {
        display: block;
    }
}